    *{
        margin: 0;
        padding: 0;
    }
    .form-container {
        border: 2px solid orange;
        border-radius: 20px;
        padding: 20px;
        width: 350px;
        margin: 20px auto;
        font-family: Arial;
        text-align: center;
      }
      input {
        width: 70%;
        padding: 5px;
        margin-bottom: 10px;
      }
      button {
        padding: 10px 20px;
        margin: 5px;
        background-color: #5a9f3f;
        color: white;
        border: none;
        font-size: 18px;
      }
      .error {
        color: red;
        font-style: italic;
      }
      .cal{
        display: flex;
        justify-content: center;
      }